
/*登录*/
.loginbox { background-color: rgba(255,255,255,0.4);  border:none;  border-radius: 8px;}
.login_title{
    font-size: 24px;
    color: #FFFFFF;
    border-bottom: 2px solid #3A4E7B;
    height: 76px;
    line-height: 76px;
    text-align: center;
}
.login_tel{
    position: absolute;
    width: 20px;
    height: 24px;
    background-image: url("../images/login_tel.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 20px;
    top:50%;
    margin-top: -12px;
}
.login_pwd{
    position: absolute;
    width: 20px;
    height: 24px;
    background-image: url("../images/login_pwd.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 20px;
    top:50%;
    margin-top: -12px;
}
.login_input{
    padding-left: 60px;
    font-size: 14px;
}
.loginbox  .panel-body{
    padding-top: 40px;
    padding-left: 34px;
    padding-right: 34px;
}
.loginbox .form-group{
    margin-bottom: 20px;
}
.login_btn{
    padding: 0 34px 20px 34px;

}
.login_btn input{
    background-color: #314E8C;
    border-radius: 4px;
    width: 100%;
    line-height: 40px;
    font-size: 18px;
    color: #FFFFFF;
    border:0;
}
.login_btn input:hover{
    background-color: #2f3d78;
}
.login_register{
    text-align: right;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 30px
}
.login_register a{
    font-size: 16px;
    color: #314E8C;
}
.login_register a:hover{
    color: #fff;
}
.login_qr{
    display: block;
    width: 240px;
    height: 240px;
    margin: 0px auto  30px auto;
}