
.bg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

}
.share_tips{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 3.4rem;
    height: 0.84rem;
    font-size: 0.24rem;
    color: #000000;
    background-image: url("../images/share_tips_bg.png");
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    text-align: center;
    line-height: 1rem;
}
.share_box{
    position: relative;
    width: 6rem;
    height: 5.64rem;
    background-color: #FFFFFF;
    -webkit-border-radius: 0.34rem;
    -moz-border-radius: 0.34rem;
    border-radius: 0.34rem;
    margin: 3.14rem auto 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.24rem;
    padding-top: 0.8rem ;
    text-align: center;

}
.share_avatar{
    position: absolute;
    left: 50%;
    top:0;
    width: 2.2rem;
    height: 2.2rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 11px 0 rgba(0,0,0,0.50);
    -moz-box-shadow: 0 2px 11px 0 rgba(0,0,0,0.50);
    box-shadow: 0 2px 11px 0 rgba(0,0,0,0.50);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: -1.1rem;
    margin-left: -1.1rem;

}
.share_avatar img{
    width: 2rem;
    height: 2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.share_name,.share_id{
    font-size: 0.32rem;
    color: #666666;
    padding-bottom: 0.1rem;
}


.share_title{
    font-size: 0.32rem;
    line-height: 0.54rem;
    color: #333;
    padding: .4rem 1rem;
}
.share_enter{
    display: block;
    width: 3.1rem;
    height: 0.75rem;
    line-height: 0.75rem;
    text-align: center;
    font-size: 0.32rem;
    color: #fff;
    background-image: -webkit-radial-gradient(50% -55%, #FDD996 50%, #F9B152 100%);
    background-image: -moz-radial-gradient(50% -55%, #FDD996 50%, #F9B152 100%);
    background-image: -o-radial-gradient(50% -55%, #FDD996 50%, #F9B152 100%);
    background-image: radial-gradient(50% -55%, #FDD996 50%, #F9B152 100%);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}

.footer{
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    height: 1.2rem;
    background-color: rgba(255,255,255,0.8);
    padding: 0 0.24rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer_txt{
    font-size: 0.24rem;
    color: #333333;
}
.logo_hi_radius{
    width: 0.9rem;
    height: 0.95rem;
}

.download{
    width: 1.8rem;
    height: 0.75rem;
    line-height: 0.8rem;
    font-family: PingFangSC-Regular;
    font-size: 0.28rem;
    color: #FFFFFF;
    text-align: center;
    background-image: -webkit-radial-gradient(50% -55%, #FD9698 50%, #F95256 100%);
    background-image: -moz-radial-gradient(50% -55%, #FD9698 50%, #F95256 100%);
    background-image: -o-radial-gradient(50% -55%, #FD9698 50%, #F95256 100%);
    background-image: radial-gradient(50% -55%, #FD9698 50%, #F95256 100%);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}

/*删除弹框*/
.fudong {
    width: 250px;
    height: 150px;
    position: fixed;
    z-index: 999999;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.fudong_bg {
    width: 100%;
    background: rgba(0, 0, 0, 0.60);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
}

.fudong h3 {
    padding: 0 17px;
    text-align: center;
    font-size: 14px;
    color: #424242;
    margin-top: 33px;
    line-height: 22px;
}

.fudong h3 b {
    font-size: 14px;
    color: #F45189;
    font-weight: normal;
}
