/* css reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    color: #333;
    font-family: "微软雅黑";
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

ol, ul, li {
    list-style: none;
}

/*****推广页******/
.red {
    color: red;
}

html {
    font-size: calc(100vw / 7.5);
    background-image: linear-gradient(0deg, #7956E3 0%, #4D32B8 100%);
}

.share_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.share_tips {
    position: absolute;
    top: 0.1rem;
    right: 0.4rem;
    width: 4rem;
    height: 1.1rem;

}

.share_box {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-top: 2.76rem;
}

.share_main {
    position: relative;
    width: 6.8rem;
    height: 4.6rem;
    padding: 0.9rem 0.28rem 0.28rem 0.28rem;;
    background-color: #FFFFFF;
    box-shadow: 0 2px 0 0 #C4B3FF;
    border-radius: 0.2rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.share_avatar {
    width: 1.8rem;
    height: 1.8rem;
    border: 3px solid #8E73F9;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: -0.9rem;
    margin-left: -0.9rem;
}

.share_avatar img {
    width: 100%;
    height: 100%;
}

.share_user {
    padding: 0.2rem;
    text-align: center;
}

.share_user_name {
    font-size: 0.32rem;
    color: #4A4A4A;
    line-height: .5rem;
}

.share_user_id {
    font-size: 0.26rem;
    color: #8D8D8D;
}

.share_text {
    position: relative;
    font-size: 0.3rem;
    color: #4A4A4A;
    padding: 0.3rem;
}

.quotes_left, .quotes_right {
    position: absolute;
    width: 0.22rem;
    height: 0.22rem;
}

.quotes_left {
    top: 0;
    left: 0;
}

.quotes_right {
    right: 0;
    bottom: 0;
}

.pro_info {
    position: relative;
    width: 6.8rem;
    height: 1.5rem;
    margin-top: 0.44rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 0 0 #C4B3FF;
    border-radius: 0.2rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

}

.line_left, .line_right {
    position: absolute;
    width: 0.13rem;
    height: 0.8rem;
    background-color: #B19BFF;
    border-radius: 0.2rem;
    bottom: -0.58rem;
}

.line_left {
    left: 0.5rem;
}

.line_right {
    right: 0.5rem;
}

.logo_hi {
    width: 0.98rem;
    height: 0.98rem;
    border-radius: 0.2rem;
    background-color: #4A4A4A;
}

.pro_text {
    font-size: 0.34rem;
    color: #F45189;
    padding-left: 0.58rem;
}

.btn_download {
    position: relative;
    width: 6.8rem;
    height: 0.93rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 1.2rem;

}

.btn_pink {
    position: absolute;
    width: 6.8rem;
    height: 0.93rem;
    top: 0;
    left: 0;
}

.btn_download span {
    position: relative;
    font-size: 0.34rem;
    color: #FFFFFF;
}

.none {
    display: none;
}