/* css reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, a, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    color: #333;
    font-family: "微软雅黑";
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

ol, ul, li {
    list-style: none;
}
.int_box{
    padding:0 0 0 0.4rem;
}
.int_box .int_list{
    padding:0.32rem 0.4rem 0.32rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
}
.int_box .int_list .pic{
    width: 1.226667rem;
    height: 1.226667rem;
    border-radius: 50%;
    background: #f1f1f1;
    overflow: hidden;
}
.int_box .int_list .pic img{
    width: 100%;
    height: 100%;
}
.int_box .int_list .text{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.int_box .int_list .left{
    margin-left: 0.32rem;
}
.int_box .int_list .left h3{
    font-size: 0.426667rem;
    color: #333333;
}
.int_box .int_list .left p{

}
.int_box .int_list .left p span{
    padding:0.08rem 0.093333rem;
    font-size: 0.24rem;
    color: #FFFFFF;
    border-radius: 0.066667rem;
    margin-right: 0.133333rem;
}
.int_box .int_list .left p span:nth-child(1){
    background: #FE5BB5;
}
.int_box .int_list .left p span:nth-child(2){
    background: #20D847;
}
.int_box .int_list:nth-child(odd) .left p span:nth-child(1){
    background: #5BB2FE;
}
.int_box .int_list:nth-child(odd) .left p span:nth-child(2){
    background: #6A5BFE;
}
.int_box .int_list:nth-child(odd) .left p span:nth-child(3){
    background: #E9B104;
}
/*.int_nv{*/
    /*background: #FE5BB5;*/
/*}*/
/*.int_lv{*/
    /*background: #20D847;*/
/*}*/
/*.int_lan{*/
    /*background: #5BB2FE;*/
/*}*/
/*.int_zi{*/
    /*background: #6A5BFE;*/
/*}*/
/*.int_huang{*/
    /*background: #E9B104;*/
/*}*/
.int_box .int_list .left b{
    font-size: 0.32rem;
    color: #999999;
}
.int_box .btn_list{

}
.int_box .btn_list span{
    display: inline-block;
    width: 1.6rem;
    text-align: center;
    height: 0.613333rem;
    line-height: 0.613333rem;
    border: 2px solid #F83F56;
    border-radius: 1.333333rem;
    color: #F83F56;
    font-size: 0.32rem;
}
.int_box .btn_list span i{
    display: inline-block;
    width: 0.346667rem;
    height: 0.32rem;
    vertical-align: middle;
    margin-right: 0.066667rem;
}
.int_box .btn_list .friend{
    background: url(../images/friend.png) no-repeat;
    background-size: 100%;
}
.int_box .btn_list .room{
    background: url(../images/room.png) no-repeat;
    background-size: 100%;
}
.int_change{
    position: fixed;
    width: 4.0rem;
    height: 1.013333rem;
    text-align: center;
    bottom: 0.4rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.int_change span{
    display: block;
    width: 4.0rem;
    height: 1.013333rem;
    line-height: 1.013333rem;
    background-image: linear-gradient(137deg, #FC627B 0%, #F13160 100%);
    box-shadow: 0 4px 10px 0 rgba(227,42,87,0.33);
    border-radius: 1.333333rem;
    font-size: 0.426667rem;
    color: #FFFFFF;
}
.fudong{
    width: 260px;
    height: 220px;
    position: fixed;
    z-index: 999999;
    border-radius: 10px;
    background: #fff;
}
.fudong_bg{
    width: 100%;
    background: rgba(0,0,0,0.50);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
}
.ask_box{
    padding:10px 15px;
}
.ask_box h1{
    font-size: 16px;
    color: #F45189;
    text-align: center;
    padding:6px 0 16px 0;
}
.ask_text{
    background: #F7F7F7;
    border: 1px solid #DBDBDB;
    position: relative;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ask_text textarea{
    width: 100%;
    padding:10px 3%;
    background: #F7F7F7;
    height: 70px;
    font-size: 15px;
    color: #3C3C3C;
    border:none;
}
.weui_textarea_counter{
    font-size: 13px;
    color: #888888;
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.ask_btn{
    width: 100%;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #F45189;
    border-radius: 50px;
    margin-top: 25px;
}
.ask_btn span{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
}
.interest_add {
    width: 1.14rem;
    height: 0.48rem;
    line-height: 0.48rem;
    font-size: .24rem;
    color: #969696;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    border: 1px solid #D3D3D3;
    text-align: center;

}

.interest_add_to {
    border: 1px solid #F45189;
    color: #F45189;
}
.line_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6.12rem;
    height: 1px;
    background-color: #F2F2F2;

}
.interest_brief {
    font-size: 0.24rem;
    color: #969696;
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
}
.interest_tag {
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: #FFFFFF;
    background-color: #9ACCF9;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    padding: 0.04rem 0.1rem;
    margin-right: 0.05rem;
}








































