
/* css reset */
body, div, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, a, input, button, textarea, table, th, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    background: #F0ECED;
}
li {
    list-style: none;
}
.logo_ico{
    width:  0.6rem;
    height: 0.6rem;
    position: absolute;
    top:0.32rem;
    right: 0.32rem;
}
.room_list{
    width: 100%;
    padding: 0.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.room_list li{
    position: relative;
    background: #FFCAD4;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    width: 3.54rem;
    height: 4.16rem;
    /*float: left;*/
    margin-bottom: 0.12rem;
}
.room_list li:nth-child(2n+1){
    margin-right: 0.22rem;
}
.text_box{
    position: absolute;
    top:0.22rem;
    left:0.22rem;
    width: 1.08rem;
    height: 0.36rem;
    line-height: 0.36rem;
    text-align: center;
    font-size: 0.24rem;
    color: #FFFFFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.6);
}
.img_box{
    position: relative;
    width: 2.72rem;
    height: 2.72rem;
    /*border:1px solid #fff;*/
    margin: 0.63rem auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
.img_avatar{
    width: 100%;
    height: 100%;
}
.img_title{
    position: absolute;
    left: 50%;
    bottom:-0.2rem;
    width: 1.42rem;
    height: 0.52rem;
    margin-left: -0.71rem;
    line-height: 0.52rem;
    text-align: center;
    font-size: 0.28rem;
    color: #FFFFFF;
    background: #FE0000;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}
.add_box{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.img_add{
    width: 2.14rem;
    height: 2.14rem;
}
.img_add_btn{
    width: 2.82rem;
    height: 0.64rem;
    line-height: 0.64rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FCB8B4), color-stop(85%, #FA0B24));
    background-image: -webkit-linear-gradient(top, #FCB8B4 0%, #FA0B24 85%);
    background-image: -moz-linear-gradient(top, #FCB8B4 0%, #FA0B24 85%);
    background-image: -o-linear-gradient(top, #FCB8B4 0%, #FA0B24 85%);
    background-image: linear-gradient(-180deg, #FCB8B4 0%, #FA0B24 85%);
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    font-size: 0.34rem;
    color: #FFFFFF;
    margin-top: 0.26rem;
    text-align: center;

}