body {
    background-color: #fff;
}

.family-search {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.93rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #f4f4f4;
}

.text-search {
    width: 6.2rem;
    height: 0.64rem;
    position: relative;
}

.input-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 6.2rem;
    height: 0.64rem;
    /*background-color: #F0F0F0;*/
    /*border-radius: 1rem;*/
    font-size: 0.28rem;
    color: #333;
    padding: 0 0.3rem;
}

.ico-clear {
    position: absolute;
    width: 0.32rem;
    height: 0.32rem;
    right: 0.2rem;
    top: .16rem;

}

.btn-search {
    width: .8rem;
    height: 0.64rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ico-search {
    width: 0.4rem;
    height: 0.4rem;
}

.input-search:focus {
    background-image: none;
}

.family-list {
    margin-top: 1rem;
}

.family-list ul li {
    height: 1.4rem;
    padding: 0 0.3rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #f4f4f4;
}
.family-list ul li .list_num{
    margin-right: 0.26rem;
    width: 0.36rem;
    height: 0.36rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 0.3rem;
    color: #969696;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.family-list ul li .list_num0 {
    width: 0.36rem;
    height: 0.36rem;
    background-color: #FF6200;
    font-size: 0.26rem;
    color: #fff;
}

.family-list ul li .list_num1 {
    width: 0.36rem;
    height: 0.36rem;
    background-color: #FF931C;
    font-size: 0.26rem;
    color: #fff;
}

.family-list ul li .list_num2 {
    width: 0.36rem;
    height: 0.36rem;
    background-color: #F2CA1F;
    font-size: 0.26rem;
    color: #fff;
}

.top_five {
    font-size: 0.24rem;
    color: #A4A4A4;
    text-align: -webkit-left;
    padding: 0.3rem;
}

.list_left {
    height: 1.4rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.family_avatar {
    width: 0.98rem;
    height: 0.98rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

.family_name {
    font-size: 0.3rem;
    color: #5E5E5E;
    padding-bottom: 0.14rem;
}

.family_prestige {
    font-size: 0.24rem;
    color: #FFFFFF;
}

.family_prestige span {
    font-size: 0.24rem;
    color: #FFFFFF;
    background-color: #F45189;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius: 0.04rem;
    border-radius: 0.04rem;
    padding: 0.02rem 0.1rem;
}

.family_info {
    height: 0.98rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0.24rem;
}

.list_right {
    height: 1.4rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.family_number {
    font-size: .32rem;
    color: #5E5E5E;

}

.family_member {
    font-size: .24rem;
    color: #969696;
}
