html,body,p,div,ul,li{
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "PingFangSC-Regular";
}
div,ul,li{
  display: flex;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
html,body{
  width: 100%;
  height: 100%;
}
/* 周榜活动 */
.week_activity{
  /* padding-top: .48rem; */
  flex-direction: column;
  background-image: linear-gradient(-151deg, #2A82FF 0%, #4F4CFF 100%);
}
.week_activity_banner{
  width: 7.5rem;
  height: 2.8rem;
  background: url(../images/week_activity_banner.png) center no-repeat;
  background-size: cover;
}
.week_title_type{
  margin: 0 auto;
  width: 4.72rem;
  height: .9rem;
}
.charm_reward{
  margin-top: .52rem;
  background: url(../images/week_charm_reward.png) center no-repeat;
  background-size: cover;
}
.week_charm_top1{
  margin-top: .36rem;
  background: url(../images/week_charm_top1.png) center no-repeat;
  background-size: cover;
}
.week_charm_gift{
  background: url(../images/week_charm_gift.png) center no-repeat;
  background-size: cover;
}
.real_time{
  margin-top:.7rem;
  background: url(../images/week_title_real_time.png) center no-repeat;
  background-size: cover;
}
.week_charm_topul{
  flex-direction: column;
  margin-left: .2rem;
}
.week_charm_topul li{
  font-size: .24rem;
  color: #FFFFFF;
  align-items: center;
  margin-bottom: .3rem;
}
.week_charm_topul li .type{
  width: 1.26rem;
}
.week_charm_topul li .name{
  margin-left: .24rem;
  margin-right: .3rem;
  width: 2.3rem;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap; 
}
.week_charm_topul li img{
  width: .7rem;
  height: .7rem;
  border-radius: .35rem;
}
.week_rules_slogan{
  margin:.5rem auto;
  width: 5.98rem;
  height: 3.5rem;
  background: url(../images/week_rules_slogan.png) center no-repeat;
  background-size: cover;
}
.week_rules_giftul{
  flex-wrap: wrap;
  padding-bottom: .24rem;
}
.week_rules_giftul li{
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 1.8rem;
  font-size: .32rem;
  color: #FFFFFF;
  flex-direction: column;
}
.week_rules_giftul li img{
  width: 1.2rem;
  height: 1.2rem;
}
.week_charm_rewardul{
  margin-top: .22rem;
  margin-left: .25rem;
  width: 7rem;
  height: 4.5rem;
  padding-top: .64rem;
  flex-direction: column;
  background: url(../images/week_charm_rewardul.png) center no-repeat;
  background-size: cover;
}
.week_charm_rewardul li{
  margin-bottom: .52rem;
  font-size: .26rem;
  color: #333333;
  justify-content: center;
}
.week_charm_rewardul li .type{
  width: 1.76rem;
}
.week_charm_rewardul li .center{
  margin-right: .6rem;
}
.week_charm_rewardul li .behind{
  width: 110px;
}
.week_rules_tltle{
  margin-top: .5rem;
  background: url(../images/week_rules_tltle.png) center no-repeat;
  background-size: cover;
}
.week_rules_box{
  position: relative;
  margin: .4rem auto 0;
  padding: 0 .32rem;
  width: 7rem;
  padding: .1rem;
  justify-content: center;
  flex-direction: column;
  background: #4F4CFF;
  border-radius: .08rem;
}
.week_rules_waves_icon{
  position: absolute;
  left: 0;
  bottom: .15rem;
  width: .8rem ;
  height:.29rem;
  z-index: 10;
  background: url(../images/waves_icon.png) center no-repeat;
  background-size: .8rem .29rem;
}
.week_rules_waves_iconr{
  position: absolute;
  right:-0.24rem;
  top: 2.4rem;
  width: .8rem ;
  height:.29rem;
  z-index: 10;
  background: url(../images/waves_icon.png) center no-repeat;
  background-size: .8rem .29rem;
}
.week_rules_wire_icon{
  position: absolute;
  left: -.26rem;
  bottom: 1.2rem;
  width: .65rem;
  height: .4rem;
  background: url(../images/week_rules_wire_icon.png) center no-repeat;
  background-size: cover;
}
.week_rules_chair_icon{
  position: absolute;
  top: -1.4rem;
  right: -.8rem;
  width: 1.92rem;height:1.52rem;
  background: url(../images/chair_icon.png) center no-repeat;
  background-size: 1.92rem 1.52rem;
}
.week_rules_box_border{
  padding-top: .4rem;
  height: 100%;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: .08rem;
}
.week_rules_box p{
  padding:0 .6rem;
  font-size: .24rem;
  color: #FFFFFF;
  display: flex;
  margin-bottom: .2rem;
}
.week_rules_box p span{
  line-height: .4rem;
}
.week_countdown{
  margin-top: .2rem;
  font-size: .24rem;
  color: #FFFFFF;
  justify-content: center;
}
.week_list_tab{
  margin: .4rem .36rem 0;
  height: .7rem;
  background-color: #4A3AEE;
  border-radius: .1rem;
}
.week_list_tab li {
  flex: 1;
  color: white;
  font-size: .24rem;
  align-items: center;
  justify-content: center;
}
.week_list_tab li.cur{
  background: #7E93FF;
}
.week_list_tab li img{
  width: .5rem;
  height: .5rem;
}
.week_top_three{
  margin: .52rem .8rem 0;
  justify-content: space-between;
  align-items: flex-end;
}
.week_top_three_li{
  flex-direction: column;
  align-items: center;
}
.week_top_three_li p{
  margin: .08rem 0;
  font-size: .24rem;
}
.week_top_three_li p.two{
  color: #56B1E3;
}

.week_top_three_li p.three{
  font-size: .24rem;
  color: #F37F32;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 1.82rem
}
.week_top_three_li .header{
  padding-top: .36rem;
  position: relative;
  width: 1.78rem;
  height:1.76rem;
  justify-content: center;
}

.week_top_three_li .header .two{
  position: absolute;
  left: 0;
  top: 0;
  width: 1.78rem;
  height:1.76rem;
  background: url(../images/week_second.png) center no-repeat;
  background-size: 1.78rem 1.76rem;
}
.week_top_three_li .neo{
  padding-top: .36rem;
  position: relative;
  width: 2.18rem;
  height: 2.22rem;
  justify-content: center;
}
.week_top_three_li .neo span{
  position: absolute;
  left: 0;
  top: 0;
  width: 2.18rem;
  height: 2.22rem;
  background: url(../images/week_first_name.png) center no-repeat;
  background-size: 2.18rem 2.22rem;
}
.week_top_three_li  p{
  color: #F45189;
}
.week_top_three_li .neo img{
  margin-top: .12rem;
  margin-left: -.04rem;
  width: 1.28rem;
  height: 1.28rem;
  border-radius: .64rem;
}
.week_top_three_li .header img{
  width:1.04rem;
  height: 1.04rem;
  border-radius: .52rem;
  margin-left: -.04rem;
}
.week_top_three_li .header .three{
  position: absolute;
  left: 0;
  top: 0;
  width: 1.78rem;
  height: 1.76rem;
  background: url(../images/week_third.png) center no-repeat;
  background-size: 1.78rem 1.76rem;
}
.week_top_three_li span{
  font-size: .24rem;
  color: #FFFFFF;
}
.week_list_content{
  margin: .5rem .36rem 0;
  background-color: white;
  flex-direction: column;
  border-radius: .12rem;
}
.week_list_content li{
  width: 100%;
  height: 1.2rem;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.week_list_content li .level{
  font-size: .24rem;
  color: #595959;
  margin: 0 .36rem 0 .3rem;
}
.week_list_content li img{
  width: .7rem;
  height: .7rem;
  border-radius: .34rem;
  border: 1px solid #ddd;
}
.week_list_content li .name{
  margin-left: .36rem;
  width: 3.12rem;
  font-size: .28rem;
  color: #535353;
}
.week_list_content li span{
  font-size: .24rem;
  color: #595959;
}
.week_hint_text{
  margin:.4rem auto .52rem;
  font-size: .24rem;
  color: #FFFFFF;
}