.hot_box {
    margin-top: 0.2rem;
    background: #ffffff;
    border-bottom: 1px solid #E7E7E7;
    border-top: 1px solid #E7E7E7;
}

.hot_box ul {
    padding: 0 0 0 0.3rem;
}

.hot_box ul li {
    padding: 0.3rem 0.3rem 0.3rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #E7E7E7;
}

.hot_box ul li:last-child {
    border-bottom: none;
}

.hot_box ul li span {
    display: block;
    width: 2rem;
    font-size: 0.3rem;
    color: #404040;
}

.hot_box ul li input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 0.3rem;
    /*color: #C6C6C6;*/
}

.hot_box ul li b {
    font-size: 0.3rem;
    color: #727272;
    text-align: left;
    font-weight: normal;
}

.hot_btn {
    margin: 1.35rem auto 0 auto;
    width: 6.9rem;
    height: 0.88rem;
    background-color: #FDC8DA;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hot_btn span {
    font-size: 0.36rem;
    color: #FFFFFF;
}

.hot_btn_selected {
    background: #F45189 !important;
}

.hot_time_box_bg {
    background: rgba(0, 0, 0, 0.50);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.hot_time_box {
    width: 100%;
    height: 5.45rem;
    background: #FFFFFF;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.hot_time_box h3 {
    font-size: 0.28rem;
    text-align: center;
    color: #777777;
    height: 0.88rem;
    line-height: 0.88rem;
    border-bottom: 1px solid #E4E4E4;
}

.hot_time_box .time_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.hot_time_box .time_list .time_day {
    width: 2.98rem;
    height: 4.56rem;
    background: #F7F7F7;
    overflow-y: scroll;
}

.hot_time_box .time_list .time_day li {
    font-size: 0.26rem;
    color: #595959;
    height: 0.76rem;
    line-height: 0.76rem;
    border-bottom: 1px solid #E9E9E9;
    padding-left: 0.3rem;
}

.hot_time_box .time_list .time_day .day_selected {
    color: #FF3B3B !important;
}

.hot_time_box .time_list .time_min {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 4.56rem;
    overflow-y: scroll;
}

.hot_time_box .time_list .time_min li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 0.76rem;
    border-bottom: 1px solid #E9E9E9;
    position: relative;
}

.hot_time_box .time_list .time_min span {
    font-size: 0.28rem;
    color: #686468;
    padding-left: 0.7rem;
}

.time_min_selected span {
    color: #FF3B3B !important;
}

.time_min_selected i {
    position: absolute;
    display: block;
    width: 0.25rem;
    height: 0.22rem;
    background: url(../images/time_min_selected.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    margin-left: 0.71rem;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
















