@charset "utf-8";
body, p, input, h1, h2, h3, h4, ol, ul, li, dl, dt, dd, form {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle;
}

body {
    font-family: '微软雅黑', 'Arial';
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
}

html, body {
    width: 100%;
    margin: 0 auto;
    color: #999999;
    font-size: 14px;
    background: #F3F3F3;
    min-width: 320px;
    max-width: 640px;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button, input {
    border: none;
    outline: none;
    background: none;
}

a {
    text-decoration: none;
    color: #999;
}

i, em {
    font-style: normal;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.share_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.share_box .share_bg {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
}

.share_right {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 55%;
}

.share_person {
    background: rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0 2px 32px 0 #7247FF;
    -moz-box-shadow: 0 2px 32px 0 #7247FF;
    box-shadow: 0 2px 32px 0 #7247FF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 34%;
    left: 22px;
    right: 22px;
    padding: 30px 0;
    text-align: center;
}

.share_person .share_pic {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #8E73F9;
    margin: 0 auto;
    overflow: hidden;
}

.share_person .share_pic img {
    width: 80px;
}

.share_person h3 {
    font-size: 17px;
    color: #FFFFFF;
    padding: 10px 0 5px 0;
}

.share_person p {
    font-size: 13px;
    color: #FFFFFF;
}

.share_person a {
    display: block;
    width: 193px;
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
    text-align: center;
    background: #F45189;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 17px;
    color: #FFFFFF;
    margin-top: 26px;
}

.share_bottom {
    background: rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0 2px 32px 0 rgba(212, 212, 212, 0.12);
    -moz-box-shadow: 0 2px 32px 0 rgba(212, 212, 212, 0.12);
    box-shadow: 0 2px 32px 0 rgba(212, 212, 212, 0.12);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 13px 15px;
}

.share_bottom .left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}

.share_bottom .left .share_logo {
    width: 44px;
    height: 44px;
    float: left;
}

.share_bottom .left .share_logo img {
    width: 44px;
}

.share_bottom .left .logo_hi {
    float: left;
    margin-left: 15px;
}

.share_bottom .left .logo_hi h3 {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 5px;
}

.share_bottom .left .logo_hi p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.50);
    margin-top: 5px;
}

.share_bottom .right {
    width: 68px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #F45189;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.share_bottom .right a {
    color: #FFFFFF;
    font-size: 13px;
}

.gift_nav {
    padding: 10px 0;
    background: #FFFFFF;
    overflow: hidden;
}

.gift_nav a {
    display: block;
    float: left;
    width: 40%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 15px;
    background: #F2F2F2;
}

.gift_nav a:first-child {
    margin-left: 10%;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.gift_nav a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.select_gift {
    background: #F45189 !important;
    color: #FFFFFF;
}

.gift_money {
    height: 50px;
    background: #FFFFFF;
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5px;
    border-bottom: 1px solid #f9f9f9;
}

.gift_money h3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    color: #494949;
}

.gift_money p {
    font-size: 14px;
    color: #686868;
    position: relative;
    padding-right: 20px;
}

.gift_money p::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background: url(../images/gift_icon.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.gift_money p span {
    font-size: 18px;
    color: #F45189;
}

.gift_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background: #FFFFFF;
    padding: 15px;
    border-bottom: 1px solid #f9f9f9;
}

.gift_list .list_left {
    width: 43px;
    height: 43px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background: red;
}

.gift_list .list_left img {
    width: 43px;
}

.gift_list .list_right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 12px;
}

.gift_list .list_right .top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gift_list .list_right .top h3 {
    font-size: 15px;
    color: #494949;
}

.gift_list .list_right .top h3 span {
    font-size: 12px;
    color: #F45189;
}

.gift_list .list_right .top p {
    font-size: 11px;
    color: #B8B8B8;
}

.gift_list .bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #E9E9E9;
    margin-top: 16px;
}

.gift_list .bottom .gift_pic {
    width: 40px;
    height: 40px;
    background: pink;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.gift_list .bottom .gift_pic img {
    width: 40px;
}

.gift_list .bottom .gift_num {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 12px;
}

.gift_list .bottom .gift_num p {
    font-size: 12px;
    color: #646464;
}

.gift_list .bottom .gift_num p:last-child {
    margin-top: 5px;
}

.gift_list .bottom .gift_num span {
    font-size: 13px;
    color: #B8B8B8;
}

.gift_list .bottom .gift_num p i {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/zuan.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
}

.level_title {
    padding: 20px 0 0 0;
    text-align: center;
}

.level_title p {
    font-size: 16px;
    color: #333333;
    position: relative;
    width: 110px;
    margin: 0 auto;
    text-align: center;
}

.level_title p::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 11px;
    background: url(../images/text_left.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.level_title p::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 11px;
    background: url(../images/text_right.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.level_pic {
    width: 170px !important;
}

.level_text {
    padding: 0 15px;
    font-size: 14px;
    color: #7D7D7D;
    margin-top: 10px;
    line-height: 20px;
}

.level_img {
    padding: 0 15px;
}

.level_img img {
    display: block;
    width: 100%;
}

/*删除弹框*/
.fudong {
    width: 250px;
    height: 150px;
    position: fixed;
    z-index: 999999;
    background-color: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.fudong_bg {
    width: 100%;
    background: rgba(0, 0, 0, 0.60);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
}

.fudong h3 {
    padding: 0 17px;
    text-align: center;
    font-size: 14px;
    color: #424242;
    margin-top: 33px;
    line-height: 22px;
}

.fudong h3 b {
    font-size: 14px;
    color: #F45189;
    font-weight: normal;
}

.btn_list {
    margin-top: 28px;
    text-align: center;
    overflow: hidden;
    border-top: 1px solid #f9f9f9;
}

.btn_list span {
    float: left;
    display: block;
    width: 49.5%;
    height: 44px;
    line-height: 44px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 16px;
    color: #BABABA;
    cursor: pointer;
}

.btn_list .close_right {
    color: #5A5A5A;
    border-left: 1px solid #f9f9f9;
}
