/* css reset */
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

@media only screen and (max-width: 1920px), only screen and (max-device-width:1920px) {
    html,body {
        font-size:256px;
    }
}
@media only screen and (max-width: 1080px), only screen and (max-device-width:1080px) {
    html,body {
        font-size:144px;
    }
}
@media only screen and (max-width: 960px), only screen and (max-device-width:960px) {
    html,body {
        font-size:128px;
    }
}
@media only screen and (max-width: 800px), only screen and (max-device-width:800px) {
    html,body {
        font-size:106.666667px;
    }
}
@media only screen and (max-width: 750px), only screen and (max-device-width:750px) {
    html,body {
        font-size:100px;
    }
}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
    html,body {
        font-size:85.333333px;
    }
}
@media only screen and (max-width: 600px), only screen and (max-device-width:600px) {
    html,body {
        font-size:80px;
    }
}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
    html,body {
        font-size:72px;
    }
}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
    html,body {
        font-size:64px;
    }
}
@media only screen and (max-width: 414px), only screen and (max-device-width:414px) {
    html,body {
        font-size:55.2px;
    }
}
@media only screen and (max-width: 412px), only screen and (max-device-width:412px) {
    html,body {
        font-size:54.8px;
    }
}
@media only screen and (max-width: 400px), only screen and (max-device-width:400px) {
    html,body {
        font-size:53.33333333px;
    }
}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
    html,body {
        font-size:50px;
    }
}
@media only screen and (max-width: 360px), only screen and (max-device-width:360px) {
    html,body {
        font-size:47.8px;
    }
}
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
    html,body {
        font-size:42.4px;
    }
}
@media only screen and (max-width: 240px), only screen and (max-device-width:240px) {
    html,body {
        font-size:32px;
    }
}
body {
    background-color: #f2f3f7;
    overflow: hidden;
    height: 100%
}

.agreement_box {
    padding: 0.3rem;
    background-color: #ffffff;
    color: #333333;
}

.agreement_box h2 {
    margin-top: 0.60rem;
    margin-bottom: 0.20rem;
    font-size: 0.36rem;
    text-align: center;
}

.agreement_box h4 {
    margin-top: 0.30rem;
    margin-bottom: 0.20rem;
    font-size: 0.32rem;
    /*text-align: center;*/
}

.agreement_box div {
    font-size: 0.28rem;
    color: #464646;
    line-height: 0.48rem;
    font-weight: bold;
}

.agreement_box p {
    font-size: 0.28rem;
    color: #464646;
    line-height: 0.48rem;
    padding: 0.1rem 0;
    /*text-indent: 0.56rem;*/
}

.agreement_box span {
    color: red;
}

p.bold {
    font-weight: bold;
}

p.text-decoration,span.text-decoration,strong.text-decoration{
    text-decoration: underline;
}