.ico-img-update {
    width: 1.7rem;
    height: 1.7rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
}

.family-logo {
    position: relative;
    width: 100%;
    height: 3.3rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.family-logo span {
    font-size: 0.24rem;
    color: #767676;
    padding-top: 0.2rem;
}



.family-edit ul li {
    position: relative;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .3rem;
    color: #404040;
    border-bottom: 1px solid #E7E7E7;
    width: 100%;
    padding: 0.3rem;
    background-color: #fff;
}

.family-edit ul li span {
    padding-right: 0.6rem;
}

.family-edit ul li .family_name {
    width: 5rem;
    font-size: 0.3rem;
    color: #727272;
}

.input_text {
    font-size: .3rem;
    color: #404040;
    width: 5rem;
}

.textarea_text {
    font-size: .3rem;
    color: #404040;
    width: 5rem;
}

.textarea_text textarea {
    font-size: .3rem;
    color: #404040;
    width: 5rem;
    resize: none;
}

.family-edit ul li.select {
    margin-top: 0.3rem;
}

.select_area {
    width: 5rem;
    background-image: url("../images/arrow-down.png");
    -webkit-background-size: 0.26rem 0.26rem;
    -moz-background-size: 0.26rem 0.26rem;
    -o-background-size: 0.26rem 0.26rem;
    background-size: 0.26rem 0.26rem;
    background-repeat: no-repeat;
    background-position: right center;
}

.agree_div {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: .16rem;
    height: .9rem;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.agree_img {

    width: .28rem;
    height: .28rem;
}

.agree_text {
    padding-left: 0.1rem;
    font-size: .24rem;
    color: #999999;
}

.family-btn {
    position: relative;
    margin: 0.78rem auto 0 auto;
    width: 6.9rem;
    height: 0.88rem;
    background-color: #FDC8DA;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.family-btn span {
    font-size: .36rem;
    color: #FFFFFF;
}

.close_submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    opacity: 0;
}

.img_update {
    width: 1.7rem;
    height: 1.7rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.85rem;
    margin-top: -0.85rem;
    opacity: 0
}

.popup_cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.popup_box {
    width: 5.5rem;
    height: 4.52rem;
    background-color: #FFFFFF;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.37rem;
}

.popup_text {
    font-size: .28rem;
    color: #595959;
    text-align: center;
    line-height: 0.48rem;
    padding: 0.3rem 0;
}

.ico-warn {
    width: 1.4rem;
    height: 1.4rem;
}

.popup_btn {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn_cancel:hover {
    color: inherit;
}

.btn_cancel {
    width: 2.1rem;
    height: 0.76rem;
    font-size: .3rem;
    color: #969696;
    border: 1px solid #DCDCDC;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    line-height: 0.76rem;
    text-align: center;
    margin-right: 0.3rem;
}

.btn_cancel:hover {
    color: #969696;
}

.btn_recharge {
    width: 2.1rem;
    height: 0.76rem;
    font-size: .3rem;
    color: #fff;
    border: 1px solid #F45189;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    background-color: #F45189;
    line-height: 0.76rem;
    text-align: center;
}

.btn_recharge:hover {
    color: #fff;
}

/*家族设置底部弹窗*/

.pop_bottom {
    background: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.popup_cover.fixed {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    top: 100%;
}

.pop_bottom.fixed {
    bottom: -100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.pop_bottom ul li {
    display: block;
    padding: 0.26rem 0;
    border-bottom: 1px solid #F3F3F3;
    font-size: 0.32rem;
    color: #595959;
    text-align: center;
}

.pop_bottom .close_btn {
    padding: 0.26rem 0;
    text-align: center;
    font-size: 0.32rem;
    color: #595959;
    border-top: 0.08rem solid #F3F3F3;
}